link(rel='shortcut icon' type='image/png' href='/img/favicon16.png' sizes='16x16')
link(rel='shortcut icon' type='image/png' href='/img/favicon128.png' sizes='128x128')
link(rel='shortcut icon' type='image/png' href='/img/favicon32.png' sizes='32x32')
