meta(charset='utf-8')

title Cyclow
meta(name='description' content='Cyclow is a new reactive frontend framework for JavaScript')
meta(name='keywords' content='reactive, framework, frontend, JavaScript')

meta(name='viewport' content='width=device-width, initial-scale=1.0')

include favicon.pug

link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
link(rel='stylesheet' href='css/styles.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/agate.min.css')

script(src='js/example.js')

script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js')
script hljs.initHighlightingOnLoad();
  
script
  include ../../js/ganalytics.js
